@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.EnableAccount == true)
    {
        <h2>Please enable your account</h2>
        <a asp-action="EnableStudent" asp-controller="Account" class="btn btn-primary">Enable Student Account</a>
        <a asp-action="EnableInstructor" asp-controller="Account" class="btn btn-success">Enable Instructor Account</a>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
